@model CryptoTracker.Domain.ViewModels.Account.RegisterViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script type="text/babel" src="~/js/register.jsx"></script>
<div id="reg"></div>
