@using CryptoTracker.Domain.Enum
@using CryptoTracker.Domain.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CryptoTracker.Domain.Entity
@model IEnumerable<CryptoTracker.Domain.Entity.Transaction>

@{
    ViewBag.Title = "title";
}

<div class="d-flex flex-column align-items-center justify-content-center">
    <script type="text/babel" src="~/js/transaction.jsx"></script>
    <div class="accordion w-50">
        @{
            if (Model == null)
            {
                <h2>Add transaction first</h2>
            }
        }
        <div id="app"></div>
    </div>
</div>
<a class="btn-add" data-toggle="modal" href="#modal-1" onclick="setId()"><img src="~/icons/plus-thick.png"/></a>

<style>
    .btn-add {
        background-color: #E52B50;
        padding: 8px;
        border-radius: 100%;
        position: absolute;
        bottom: 28px;
        left: calc(50% - 32px);
        z-index: 10;
    }
</style>